<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <title>查看</title>

    <!--公共css-->
    <div th:include="common_css :: common_css"></div>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

<script type="text/javascript">
    function saveLocate() {
        var text = $("#top22").val();
        if (text == '') {
            alert('无内容！');
            return;
        }

        $.ajax({
            url: "/locate/save/top/" + text,
            type: "get",
            success: function (data) {
                alert("添加成功！")
                window.location.href = "/locate/add.html";
                return;
            },
            error: function (data) {
                alert("添加失败！")
            }
        })

    };
</script>
<div th:include="mainframe :: common"></div>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#" th:text="${locateModel.title}">门禁设置管理</a>
            </li>
            <li class="breadcrumb-item active" th:text="${locateModel.subtitle}">工作区设置</li>
        </ol>
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-body">
                <div class="table-responsive">
                    <form action="/locate/edit" th:action="@{/locate}" method="POST" role="form">
                        <div class="form-group">
                            <label for="top22">
                                一级工作区：
                            </label>
                            <input type="text" class="form-group form-control" id="top22" placeholder="一级工作区">
                            <a href="#" onclick="saveLocate()">添加</a>

                        </div>


                        <div class="form-group">
                            <!--<input type="submit" value="提交" class="btn btn-primary">-->
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-footer small text-muted"
                 th:text="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd')}">版权保留xjtuse
            </div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!--公共js-->
    <div th:include="common_js :: common_js"></div>
</div>

</body>

</html>