<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <title th:text="${locateModel.title}">查看</title>
    <!--公共css-->
    <div th:include="common_css :: common_css"></div>
</head>

<body>

<script type="text/javascript">
    function saveLocate() {
        // var text = $("#top22").val();
        var text = document.getElementById("top22").value;
        if (text == '') {
            alert('无内容！');
            return;
        }

        $.ajax({
            url: "/locate/save/top/" + text,
            type: "get",
            success: function (data) {
                alert("添加成功！")
                window.location.href = "/locate/add.html";
                return;
            },
            error: function (data) {
                alert("添加失败！")
            }
        })

    };
</script>
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#" th:text="${locateModel.title}">门禁设置管理</a>
        </li>
        <li class="breadcrumb-item active" th:text="${locateModel.subtitle}">工作区设置</li>
    </ol>
    <div class="card-body">
        <div class="col-md-6 offset-md-3">
            <form action="/locate/edit" th:action="@{/locate}" method="POST" role="form">
                <div class="form-group">
                    <label for="top22" class="form-inline">
                        <input type="text" class="form-inline col-md-8" id="top22" placeholder="添加一级工作区">
                        <a href="#" onclick="saveLocate()" class="offset-1">添加</a>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>

<!--公共js-->
<div th:include="common_js :: common_js"></div>
</body>

</html>