<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <title>查看</title>

    <!--公共css-->
    <div th:include="common_css :: common_css"></div>
    <script th:src="@{~/module/vendor/jquery/jquery.min.js}" src="../module/vendor/jquery/jquery.min.js"></script>

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<script type="text/javascript">
    function setSelectTop() {
        var address = $('#top option:selected').text();
        var id = $('#top option:selected').val();
        var selObj = $('#second2');
        $.ajax({
            url: "/locate/selectByTop/" + id,
            type: "get",
            success: function (data) {
                $("#second2").html("");
                str = "";
                var str = "<option disabled='disabled' selected='selected' value=''>--请选择二级工作区--</option>"
                for (var i = 0; i < data.length; i++) {
                    str += "<option value='" + data[i].id
                        + "'>" + data[i].address
                        + "</option>";
                }
                selObj.append(str);
            },
            error: function (data) {
                alert("没有啊");
            }
        })
    };

    function setSelectSecond() {
        var address = $('#second2 option:selected').text();
        var id = $('#second2 option:selected').val();
        var selObj = $('#third3');
        $.ajax({
            url: "/locate/selectBySecond/" + id,
            type: "get",
            success: function (data) {
                $("#third3").html("");
                str = "";
                var str = "<option disabled='disabled' selected='selected' value=''>--请选择三级工作区--</option>"
                for (var i = 0; i < data.length; i++) {
                    str += "<option value='" + data[i].id
                        + "'>" + data[i].address
                        + "</option>";
                }
                selObj.append(str);
            },
            error: function (data) {
                alert("没有啊");
            }
        })
    };

    function deleteTop(ele) {
        var address = $('#'+ele+' option:selected').text();
        var id = $('#'+ele+' option:selected').val();
        if (id < 0 || id=="") {
            alert("请选择工作区！")
        }else {
            $.ajax({
                url: "/locate/delete"+ele+"/" + id,
                type: "get",
                success: function (data) {
                    alert("删除成功！")
                    window.location.href= "/locate/edit.html";
                },
                error: function (data) {
                    alert("删除失败！");
                }
            })
        }
    };

    function addSecondLocate() {
        var topId = $('#top option:selected').val();
        var address = $('#secondval').val();
        if (topId == '0' || topId == 0 || topId == "") {
            alert("请选择一级工作区！");
            return;
        }
        if (address == "") {
            alert("请输入二级工作区！");
            return;
        }
        $.ajax({
            url: "/locate/save/second/" + topId + "-" + address,
            type:"get",
            success: function (data) {
                alert("二级工作区添加成功，请刷新页面！")
                return;
            },
            error: function (data) {
                alert("添加失败！");
                return;
            }
        })

    }
    function addThirdLocate() {
        var topId = $('#top option:selected').val();
        var secondId = $('#second2 option:selected').val();
        var address = $('#thirdval').val();
        if (topId == '0' || topId == 0 || topId == "") {
            alert("请选择一级工作区！");
            return;
        }
        if (secondId == '0' || secondId == 0 || secondId == "") {
            alert("请选择二级工作区！");
            return;
        }
        if (address == "") {
            alert("请输入三级工作区！");
            return;
        }
        $.ajax({
            url: "/locate/save/third/" + secondId + "-" + address,
            type:"get",
            success: function (data) {
                alert("三级工作区添加成功，请刷新页面！")
                return;
            },
            error: function (data) {
                alert("添加失败！");
                return;
            }
        })

    }


</script>

<div th:include="mainframe :: common"></div>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#" th:text="${locateModel.title}">门禁设置管理</a>
            </li>
            <li class="breadcrumb-item active" th:text="${locateModel.subtitle}">工作区设置</li>
        </ol>
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-body">
                <div class="table-responsive">
                    <form action="/locate/edit" th:action="@{/locate}" method="POST" role="form">
                        <div class="form-group">
                            <label for="top">
                                一级工作区：
                            </label>
                            <select id="top" class="form-group" onchange="setSelectTop()">
                                <option value="0" disabled="disabled" selected="selected">--请选择一级工作区--</option>
                                <option th:each="topAddress : ${locateModel.topLocateList}"
                                        th:value="${topAddress.id}"
                                        th:text="${topAddress.address}"
                                        name="top">
                                    [[${topAddress.address}]]
                                </option>
                            </select>
                            <a onclick="deleteTop('top')" href="#">删除</a>
                        </div>
                        <div class="form-group">
                            <label for="second2">
                                二级工作区：
                            </label>
                            <select class="form-group" id="second2" name="second" onchange="setSelectSecond()">
                            </select>
                            <a onclick="deleteTop('second2')" href="#">删除</a>

                            <div class="form-group">
                                <input class="form-group" type="text" id="secondval">
                                <a onclick="addSecondLocate()" href="#">添加二级工作区</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="third3">
                                三级工作区：
                            </label>
                            <select id="third3" class="form-group">
                            </select>
                            <a onclick="deleteTop('third3')" href="#">删除</a>

                            <div class="form-group">
                                <input class="form-group" type="text" id="thirdval">
                                <a onclick="addThirdLocate()" href="#">添加三级工作区</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-footer small text-muted"
                 th:text="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd')}">版权保留xjtuse
            </div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!--公共js-->
    <div th:include="common_js :: common_js"></div>
</div>

</body>

</html>