<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/access</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="xjtu.soto.access.pojo.UserEntity"/>
    <mapping class="xjtu.soto.access.pojo.FacilityEntity"/>
    <mapping class="xjtu.soto.access.pojo.RecordEntity"/>
    <mapping class="xjtu.soto.access.pojo.WhitelistEntity"/>
      <mapping class="xjtu.soto.access.pojo.SecondLocateEntity"/>
      <mapping class="xjtu.soto.access.pojo.ThirdLocateEntity"/>
      <mapping class="xjtu.soto.access.pojo.TopLocateEntity"/>
      <mapping class="xjtu.soto.access.pojo.IdentityEntity"/>
      <mapping class="xjtu.soto.access.pojo.DepartmentEntity"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>