<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <title>查看</title>

    <!--公共css-->
    <div th:include="common_css :: common_css"></div>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<div th:include="mainframe :: common"></div>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">流水管理</a>
            </li>
            <li class="breadcrumb-item active">添加用户</li>
        </ol>
            <div class="card-body">
                <div class="table-responsive">
                    <form action="/users" th:action="@{/users}" method="POST"  role="form">
                        <div class="form-group">
                            <label for="cardid">
                                账号：
                            </label>
                            <input  type="text" id="cardid" name="cardid"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="name">
                                姓名：
                            </label>
                            <input type="text" id="name" name="name"  class="form-control">

                        </div>
                        <div class="form-group">
                            <label for="password">
                                密码
                            </label>
                            <input type="password" id="password" name="password" class="form-control">

                        </div>
                        <div class="form-group">
                            <label for="department">
                                部门/学院
                            </label>
                            <input type="text" id="department" name="department"  class="form-control">

                        </div>
                        <div class="form-group">
                            <label for="sex">
                                性别：
                            </label>
                            <select id="sex" name="sex">
                                <option value="1" name="sex">男</option>
                                <option value="2" name="sex">女</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <input type="submit" value="提交" class="btn btn-primary">

                        </div>
                    </form>
                </div>
            </div>
    </div>
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!--公共js-->
    <div th:include="common_js :: common_js"></div>
</div>

</body>

</html>