<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <title>Thymeleaf in action</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">

</head>


<body>
<h3 th:text="${userModel.title}">用户信息</h3>
<table class="table table-conense table-hovered">
    <thead>
    <tr>
        <td>账号</td>
        <td>姓名</td>
        <td>性别</td>
    </tr>
    </thead>
    <tbody>
    <!--<tr th:if="${userModel.userList.length()} eq 0">-->
        <!--<td colspan="3">没有用户信息！</td>-->
    <!--</tr>-->
    <tr th:each="user : ${userModel.userList}">
        <td th:text="${user.cardid}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.sex}"></td>
        <td><a th:href="@{'/users/'+${user.cardid}}" th:text="${user.name}"></a></td>
    </tr>
    <tr>
        <td colspan="3">
            <a class="btn btn-primary" href="/users/form.html" th:href="@{/users/form}">创建用户</a>
        </td>
    </tr>
    </tbody>
</table>
</body>

</html>