<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    meta charset="UTF-8"/>
    <title>Thymeleaf in action</title>
    <!--公共css-->
    <div th:include="common_css :: common_css"></div>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<div th:include="mainframe :: common"></div>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">流水管理</a>
            </li>
            <li class="breadcrumb-item active">信息查询</li>
        </ol>
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Data Table Example</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center"  id="dataTable1" width="100%" cellspacing="0">
                        <thead>
                        <tr class="text-center">
                            <th>卡号</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>权限</th>
                            <th>状态</th>
                            <th>身份</th>
                            <th>学院</th>
                            <th>创建/修改时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="success">
                            <td th:text="${userModel.user.cardid}"></td>
                            <td th:text="${userModel.user.name}"></td>
                            <div th:if="${userModel.user.sex} eq 1">
                                <td>男</td>
                            </div>
                            <div th:if="${userModel.user.sex} eq 2">
                                <td>女</td>
                            </div>
                            <td th:text="${userModel.user.permission}"></td>
                            <td th:text="${userModel.user.status}"></td>
                            <td th:text="${userModel.user.identity}"></td>
                            <td th:text="${userModel.user.department}"></td>
                            <td th:text="${userModel.user.time}"></td>
                            <td><a th:href="@{'/users/delete/'+${userModel.user.cardid}}">删除</a>
                                <a th:href="@{'/users/modify/'+${userModel.user.cardid}}">修改</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted" th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}" >版权保留xjtuse</div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!--公共js-->
    <div th:include="common_js :: common_js"></div>
</div>

</body>

</html>