<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <title th:text="${roleModel.title}">Thymeleaf in action</title>
    <!--公共css-->
    <div th:include="common_css :: common_css"></div>
</head>


<body class="fixed-nav sticky-footer bg-dark" id="page-top">

<div th:include="mainframe :: common"></div>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#" th:text="${roleModel.title}">人员管理</a>
            </li>
            <li class="breadcrumb-item active" th:text="${roleModel.subtitle}">信息查询</li>
        </ol>
        <div class="card mb-3">
            <form action="/role/save" method="post" th:action="@{~/role/save}">
                <div class="col-md-12 text-center column">
                    <input type="text" style="width: auto" name="role" class="form-group" placeholder="新增角色">
                    <button type="submit"  class="btn btn-group-sm btn-primary">确定</button>
                </div>
                <div>
                    <p class="form-group" th:text="${roleModel.msg}" style="color: red"></p>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table table-bordered text-center"  id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <td>角色</td>
                        <td colspan="1">操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <!--<tr th:if="${userModel.userList.size()} eq 0">-->
                    <!--<td colspan="3">没有用户信息！</td>-->
                    <!--</tr>-->
                    <tr th:each="role : ${roleModel.roleList}">
                        <td th:text="${role.role}"></td>
                        <td><a  th:text="删除" th:href="@{'~/role/delete/'+${role.id}}">删除</a></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>
<!--公共js-->
<div th:include="common_js :: common_js"></div>
</body>

</html>