<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!--公共css-->
    <div th:include="common_css :: common_css"></div>
    <meta charset="UTF-8">
    <title>白名单管理</title>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">

<div th:include="mainframe :: common"></div>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">白名单管理</a>
            </li>
            <li class="breadcrumb-item active">白名单查询</li>
        </ol>
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>卡号</th>
                            <th>地点</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>VIP</th>
                            <th>操作</th>
                        </tr>
                        <tbody>
                        <tr th:each="whitelist : ${whitelistModel.whiteLists}">
                            <td th:text="${whitelist.wid}">1</td>
                            <td th:text="${whitelist.cardid}">3118311061</td>
                            <td th:text="${whitelist.locate}">软件学院</td>
                            <td th:text="${#dates.format(whitelist.startDate,'yyyy-MM-dd')}">2019-4-28</td>
                            <td th:text="${#dates.format(whitelist.endDate,'yyyy-MM-dd')}">2019-5-28</td>
                            <div th:switch="${whitelist.vip}">
                                <td th:case="1">是</td>
                                <td th:case="0">否</td>
                            </div>
                            <td>
                                <a th:href="@{'/whitelist/modify/'+${whitelist.wid}}">修改</a>
                                <a th:href="@{'/whitelist/delete/'+${whitelist.wid}}">删除</a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted" th:text="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd')}" >版权保留xjtuse</div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!--公共js-->
    <div th:include="common_js :: common_js"></div>
</div>

</body>
</html>