<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <title>查看</title>

    <!--公共css-->
    <div th:include="common_css :: common_css"></div>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<div th:include="mainframe :: common"></div>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">白名单管理</a>
            </li>
            <li class="breadcrumb-item active">白名单修改</li>
        </ol>
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-body">
                <div class="table-responsive">
                    <form action="/whitelist/modify/" th:action="@{/whitelist}" method="POST" th:object="${whitelistModel.whiteList}" role="form">
                        <div class="form-group">
                            <label for="wid">
                                ID：
                            </label>
                            <input  readonly="readonly" type="text" id="wid" name="wid" th:value="*{wid}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="cardid">
                                卡号：
                            </label>
                            <input type="text" id="cardid" name="cardid" th:value="*{cardid}" class="form-control">

                        </div>
                        <div class="form-group">
                            <label for="startDate">
                                开始日期
                            </label>
                            <input type="text" id="startDate" name="startDate" th:value="${#dates.format(whitelistModel.whiteList.startDate,'yyyy-MM-dd')}" class="form-control">

                        </div>
                        <div class="form-group">
                            <label for="endDate">
                                结束日期
                            </label>
                            <input type="text" id="endDate" name="endDate" th:value="${#dates.format(whitelistModel.whiteList.endDate,'yyyy-MM-dd')}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="vip">
                                VIP：
                            </label>
                                <!--<input type="text" id="sex" name="sex" value="1" class="form-control">-->
                                <select id="vip" name="vip">
                                    <option name="vip"  value="0" th:selected="*{vip} eq 0">否</option>
                                    <option name="vip" value="1" th:selected="*{vip} eq 1">是</option>
                                </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="提交" class="btn btn-primary">

                        </div>
                    </form>
                </div>
            </div>
            <div class="card-footer small text-muted" th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}" >版权保留xjtuse</div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!--公共js-->
    <div th:include="common_js :: common_js"></div>
</div>

</body>

</html>